$pagePadding: 8em;
$pagePaddingLeftRight: 8em;
$masterFont:  16px/1.6 Roboto,Helvetica,sans-serif;
$masterFont:  16px/1.6 'Fira Sans',Helvetica,sans-serif;
$masterFont1:  16px/1.6 'Josefin Slab', serif;


$masterFontWeight: 300;
$headerHeight: 60px; 
$modalPadding: 6em;


$circle-radius: 150px;
$blue: rgba(90, 189, 222, 1);
$background: url(../img/me2.png);
$color0: #FFFFFF;
$color1: #003459;
$color2: #007EA7;
$color3: #00A8E8;
$color4: #00171F;
$color5: #aaa;
$padding: 6em;


$small:320px 480px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$fontXXXLSize: 36;
$fontXXLSize: 30;
$fontXLSize: 24;
$fontLSize: 18;
$fontMSize: 14;
$fontSSize: 12;

$backgroundImage: '../../img/me2.jpg';